.places {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 92px;
    padding-top: 12px;
}

@media screen and (max-width: 1024px) {
	.places {
		 padding-left: 48px;
		 padding-right: 48px;
	}
}

@media screen and (max-width: 768px) {
   .places {
      padding-top: 15px;
      padding-bottom: 90px;
		padding-left: 24px;
		padding-right: 24px;
   }
}


@media screen and (max-width: 320px) {
   .places {
      padding-top: 14px;
      padding-bottom: 66px;
		padding-left: 0;
		padding-right: 0;
   }
}

