.lead__subtitle {
    /* max-width: 100%; */
    max-width: 640px;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    padding-top: 32px;
    /* padding-left: 320px; */
    /* padding-right: 320px; */
    color: #FFFFFF;
}

@media screen and (max-width: 678px) {
    .lead__subtitle {
        font-size: 23px;
        line-height: 27px;
    }
}

@media screen and (max-width: 486px) {
    .lead__subtitle {
        font-size: 20px;
        line-height: 23px;
    }
}



@media screen and (max-width: 320px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        padding-top: 16px;
    }
}