.lead__title {
    max-width: 100%;
	 max-width: 720px;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0;
    text-align: center;
    text-rendering: optimizeLegibility;
    color: #FFFFFF;
}

@media screen and (max-width: 720px) {
   .lead__title {
		font-size: 85px;
      line-height: 90px;
	}
}


@media screen and (max-width: 677px) {
   .lead__title {
		font-size: 57px;
      line-height: 70px;
	}
}


@media screen and (max-width: 486px) {
   .lead__title {
      font-size: 50px;
      line-height: 65px;
   }
}

@media screen and (max-width: 415px) {
   .lead__title {
		font-size: 48px;
      line-height: 60px;
	}
}


@media screen and (max-width: 402px) {
   .lead__title {
      font-size: 44px;
      line-height: 50px;
   }
}

@media screen and (max-width: 320px) {
   .lead__title {
		max-width: 288px;
      font-size: 40px;
      line-height: 44px;
	}
}