.intro__list {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 0;
    padding-top: 33px;
    list-style-type: none;
    padding-left: 0;
}