.cover__background {
    width: calc(100% - 2 * 48px);
    min-height: 740px;
    background: url(../../../images/cover-trains.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
	 justify-content: center;
    text-decoration: none;
    z-index: 2;
    position: relative;
}

.cover__background::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    transition: opacity 0.3s ease-in;
    background-color: #2A2C2F;
}

  .cover__background:hover::after {
    opacity: 0.8;
}


@media screen and (max-width: 1024px) {
    .cover__background {
      width: 100%;
      min-height: 640px;
   }
}

@media screen and (max-width: 768px) {
   .cover__background {
      min-height: 480px;
   }
}

@media screen and (max-width: 320px) {
   .cover__background {
      max-width: 320px;
      min-height: 200px;
   }
}